@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

body {
    background-color: bisque;
}

.main {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 20%;
    margin-left: 20%;
    background-color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 20px;
    font-family: "Outfit";
}

.container {
    margin: 4% 4% 2% 4%;
}

.photo {
    max-width: 100%;
    border-radius: 15px;
}

h2 { 
    color: maroon;
}

.text {
    font-size: 14px;
    padding-left: 3%;
}

.table_particle {
    font-size: 14px;
    padding-bottom: 10px ;
}

.preparation {
    border-radius: 15px;
    background-color: rgb(255, 228, 232);
    height: fit-content;
}

.Prep {
    padding-top: 1.5%;
    padding-left: 4%;
    color: rgb(164, 94, 230);
}

.separator {
    border-bottom: 2px solid rgb(206, 205, 205);
}

.bold {
    font-weight: bold;
}

.col-1 {
    text-align: center;
    width: 49%;
    display: inline-block;
}

.col-2 {
    text-align: center;
    width: 49%;
    display: inline-block;
    
}